<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="HelloServices.HelloService" behaviorConfiguration="mexBehavior">
        <endpoint address="HelloServices" binding="basicHttpBinding" contract="HelloServices.IHelloService"></endpoint>
        <endpoint address="HelloServices" binding="netTcpBinding" contract="HelloServices.IHelloService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8070/"/>
            <add baseAddress="net.tcp://localhost:8090/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>